* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  box-shadow: 3px 3px 3px gray;
  padding: 1.5rem;
  background-color: wheat;
}

tbody {
  background-color: white;
}

td {
  /* border: 1px solid black; */
  padding: 1.5rem;
}

.black {
  background-color: black;
}